
body {
    background-image: url("../images/hermes-rivera-Ww8eQWjMJWk-unsplash.jpg");
    -webkit-background-size: cover; 
    -moz-background-size: cover; 
    -o-background-size: cover; 
    background-size: cover;
    background-repeat: no-repeat
}
label {
    font-size: 18px;
    color: rgb(30, 68, 30);
}

.input-form-signin {
font-family: 'Be Vietnam', sans-serif;
font-family: 'Lora', serif;
font-family: 'Mansalva', cursive;
font-family: 'Kalam', cursive;
width: 380px;
padding: 15px;
margin: -57% 11% 9% 2%;
opacity: 0.9; 
z-index: 0;
}


#submit-form {
    background: rgb(50, 119, 50);
    border: 2px solid rgb(35, 109, 35);
}

