

label {
    font-size: 18px;
    color: rgb(30, 68, 30);
}


.jumbotron {
    opacity: 0.6;
    background-color: rgb(98, 187, 98);
    color: rgb(30, 68, 30);
    margin-top: 3%;
}

.input-form-signin {
    font-family: 'Be Vietnam', sans-serif;
    font-family: 'Lora', serif;
    font-family: 'Mansalva', cursive;
    font-family: 'Catamaran', sans-serif;
    background-color: transparent;
    padding: 15px;
    margin: -153% 11% 9% 5%;
    opacity: 0.9; 
    z-index: 0;  
}

.input-form-question {
    font-family: 'Be Vietnam', sans-serif;
    font-family: 'Lora', serif;
    font-family: 'Mansalva', cursive;
    font-family: 'Catamaran', sans-serif;
    background-color: transparent;
    padding: 15px;
    margin-top: 2%;
}

.navbar-input{
    font-family: 'Be Vietnam', sans-serif;
    font-family: 'Lora', serif;
    font-family: 'Mansalva', cursive;
    font-family: 'Catamaran', sans-serif;
    font-size: 20px;
    width: 100%;
    height: 50px;
    background-color: rgb(98, 187, 98);
 
  }

  .navbar-btn {
    background: rgb(50, 119, 50);
    border: 2px solid rgb(35, 109, 35);
  }
/* 
  .form-check-label .form-check-input {
    font-size: 18px;
    margin-right: 4px;
  } */

#signin-page {
    background-image: url("../images/hermes-rivera-Ww8eQWjMJWk-unsplash.jpg");
    -webkit-background-size: cover; 
    -moz-background-size: cover; 
    -o-background-size: cover; 
    background-size: cover;
    background-repeat: no-repeat
}

#form-page {
    background-image: url("../images/brooke-lark-08bOYnH_r_E-unsplash.jpg");
    -webkit-background-size: cover; 
    -moz-background-size: cover; 
    -o-background-size: cover;  
    background-size: cover;
    background-repeat: no-repeat
}

#main-page {
    background-image: url("../images/assorted-fruits-on-white-surface-775031.jpg");
    -webkit-background-size: cover; 
    -moz-background-size: cover; 
    -o-background-size: cover;  
    background-size: cover;
    background-repeat: no-repeat
}
 
#form-image {

    border: none;
    background-color: transparent;
    margin: 4% 1% 8% 1%;
    opacity: 0.8;  
    position: relative;
}

#submit-form {
    background: rgb(50, 119, 50);
    border: 2px solid rgb(35, 109, 35);
}

#submit-question {
    background: rgb(50, 119, 50);
    border: 2px solid rgb(35, 109, 35);
}


